.cast {
    height: 350px;
    position: relative;
}

.cast__img {
    width: 200px;
}

.cast__character, .cast__name {
    display: block;
}

.cast__character {
    font-size: 2rem;
}

.cast__name {
    font-size: 1.5rem;
}
