<app-search (onSearchResult)="showSearchResult($event)"></app-search>

<div class="panel panel-default" *ngIf="searchResult && searchResult.length">
    <div class="panel-heading">Search result</div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let movie of searchResult; let i=index;">
        <app-movie-thumbnail [movieData]="movie" *ngIf="i<12"></app-movie-thumbnail>
      </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Popular movies</div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let popularMovie of popularMovies; let i=index;">
        <app-movie-thumbnail [movieData]="popularMovie" *ngIf="i<12"></app-movie-thumbnail>
      </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Now playing in theathres</div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let nowPlayingMovie of nowPlayingMovies; let i=index;">
        <app-movie-thumbnail [movieData]="nowPlayingMovie" *ngIf="i<12"></app-movie-thumbnail>
      </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Upcoming movies</div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-4 col-md-2" *ngFor="let upcomingMovie of upcomingMovies; let i=index;">
        <app-movie-thumbnail [movieData]="upcomingMovie" *ngIf="i<12"></app-movie-thumbnail>
      </div>
    </div>
</div>