<div class="panel panel-default">
    <div class="panel-heading"><a routerLink="/main" title="Back to main"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> Movie detail</div>
    <div class="panel-body">
      <div class="row" *ngIf="movie">
        <div class="col-xs-12 col-md-4">
          <img src="https://image.tmdb.org/t/p/w300/{{movie.image}}" class="img-thumbnail" alt="{{movie.title}}" />
        </div>
        <div class="col-xs-12 col-md-8">
            <table class="table">
              <tbody>
                <tr>
                  <th>Title</th>
                  <td>{{movie.title}}</td>
                </tr>
                <tr>
                  <th>Release date</th>
                  <td>{{movie.releaseDate}}</td>
                </tr>
                <tr>
                  <th>Adult</th>
                  <td>{{movie.adult ? 'yes' : 'no'}}</td>
                </tr>
                <tr>
                  <th>Budget</th>
                  <td>{{movie.budget}}</td>
                </tr>
                <tr>
                  <th>Homepage</th>
                  <td><a href="{{movie.homepage}}" target="_blank">{{movie.homepage}}</a></td>
                </tr>
                <tr>
                  <th>Popularity</th>
                  <td>{{movie.popularity}}</td>
                </tr>
                <tr>
                  <th>Genres</th>
                  <td><span class="badge" *ngFor="let genre of movie.genres">{{genre}}</span></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="row" *ngIf="!movie">
          <div class="col-xs-12">
            <i class="fa fa-spinner fa-spin text-center"></i>
          </div>
      </div>
    </div>
</div>