.movie {
    height: 350px;
    position: relative;
}

.movie__img {
    width: 200px;
}

.movie__title, .movie__release-date {
    display: block;
}

.movie__title {
    font-size: 2rem;
}

.movie__release-date {
    font-size: 1.5rem;
}

.movie .btn {
    position: absolute;
    bottom: 5px;
    width: 100%;
}